<li>
	{{burger_name}}

	<button class="change-state" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}EAT ME!{{else}}DON'T EAT ME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
